.header{
  position: relative;
  .logo{
    padding: 26px 0;
    #menu{
      display: none;
    }
  }
   nav{
     width: 60%;
     line-height: 100px;
     .close{
       display: none;
     }
     li{
       float: left;
       width: (100% / 4);
       font-size: 18px;
       position: relative;
       ul{
         position: absolute;
         top: 100px;
         left: -50px;
         z-index: 10;
         width: 400px;
         li{
           display: inline-block;
         }
       }
     }
   }
  .language{
    position: absolute;
    right: 0;
    top: 40px;
    cursor: pointer;
    span{
      margin-right: 60px;
      color: #828282;
      font-size: 14px;
    }
    background: url("../images/language.jpg") no-repeat center;
  }
}
.shade{
  background-color: red;
  z-index: 100;
}
@media screen and (max-width: 800px){
  #animation{
    width: 70%;
    margin: 0 auto;
    height: 600px;
    background-color: #404040;
    z-index: 10;
    display: none;
  }
  #animation{
    -webkit-animation:bounceIn 1s .2s ease both;
    -moz-animation:bounceIn 1s .2s ease both;}
  @-webkit-keyframes bounceIn{
    0%{opacity:0;
      -webkit-transform:scale(.3)}
    50%{opacity:1;
      -webkit-transform:scale(1.05)}
    70%{-webkit-transform:scale(.9)}
    100%{-webkit-transform:scale(1)}
  }
  @-moz-keyframes bounceIn{
    0%{opacity:0;
      -moz-transform:scale(.3)}
    50%{opacity:1;
      -moz-transform:scale(1.05)}
    70%{-moz-transform:scale(.9)}
    100%{-moz-transform:scale(1)}
  }
  .header{
    margin-bottom: 80px;
    z-index: 20;
    border-bottom: 1px solid #ccc;
    .maxbox{
      max-width: 100%;
    }
    .language{
      display: none;
    }
    .logo{
      width: 100%;
      position: fixed;
      padding: 20px 0 20px 2.5%;
      background-color: #fff;
      z-index: 12;
      img{
        width: 150px;
      }
      #menu{
        display: block;
        font-size: 40px;
        position: fixed;
        right: 2.5%;
        top: 20px;
      }
    }
    nav{
      position: fixed;
      left: 0;
      right: 0;
      top: 70px;
      width: 100%;
      float: none;
      line-height: 50px;
      font-size: 20px;
      ul{
        margin-top: 20%;
      }
      li{
        width: 100%;
        text-align: center;
        display: block;
        a{
          color: #fff;
        }
      }
    }
  }
}
.banner{
  li{
    img{
      width: 100%;
    }
  }
}
.exhibition{
  .wrap{
    margin: 0 -20px;
  }
  .list{
    float: left;
    width: (100% / 4);
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    .list-img{
      z-index: -11;
      overflow: hidden;
      &:hover{
        background-color: red;
        img{
          opacity: 0.4;
          transform: scale(1.1,1.1);
        }
      }
      img{
        width: 100%;
        transition: 0.6s;
      }
    }
    .center-txt{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 70%;
      margin: 10% auto 0;
      color: #fff;
    }
    .txt{
      margin-bottom: 20%;
      p{
        font-size: 40px;
        text-align: center;
        margin-bottom: 5%;
      }
      span{
        font-size: 20px;
        word-spacing:8px;
        letter-spacing: 5px;
        display: inline-block;
        float: right;
        &:nth-child(1){
          float: right;
        }
        &:nth-child(2){
          float: left;
        }
      }
    }
    .referral{
      span{
        float: left;
        font-size: 14px;
        width: (100% / 3);
      }
      .ri{
        text-align: right;
      }
      .ce{
        text-align: center;
      }
    }
    .detail{
      margin-top: 20%;
      text-align: center;
      span{
        font-size: 21px;
      }
      a{
        display: block;
        color: #fff;
        font-size: 18px;
        padding: 3px 0;
        border: 1px solid #fff;
        border-radius: 5px;
        width: 100px;
        margin: 10px auto;
        &:hover{
          font-weight: bold;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px){
  .exhibition{
    .list{
      .txt{
        p{
          font-size: 24px;
        }
        span{
          font-size: 16px;
        }
      }
      .referral{
        span{
          font-size: 12px;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .exhibition{
    .wrap{
      margin: 0 -10px;
    }
    .list{
      padding: 0 10px;
      .center-txt{
        width: 80%;
        .txt{
          margin-bottom: 10%;
        }
      }
      .detail{
        margin-top: 10%;
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .exhibition{
    .list{
      width: (100% / 2);
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 680px){
  .exhibition{
    .wrap{
      margin: 0 -5px;
    }
    .list{
      .center-txt{
        margin: 5% auto 0;
      }
      padding: 0 5px;
      .txt{
        p{
          font-size: 16px;
        }
        span{
          font-size: 14px;
          letter-spacing: 2px;
        }
      }
      .referral{
        span{
          width: (100% / 2);
          text-align: center;
        }
        .ri{
          text-align: center;
        }
        .ce{
          text-align: center;
        }
      }
      .detail{
        span{
          font-size: 14px;
        }
        a{
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  .exhibition{
    .list{
      .center-txt{
        .txt{
          margin-bottom: 5%;
        }
      }
    }
  }
}
.aboutus{
  .about-img{
    img{
      width: 100%;
    }
  }
}
.news{
  .wrap{
    margin: 0 -20px;
  }
  .list{
    float: left;
    width: (100% / 3);
    padding: 0 20px;
    box-sizing: border-box;
    .list-img{
      overflow: hidden;
    }
    img{
      width: 100%;
      transition: all 0.8s;
      &:hover{
        transform: scale(1.08,1.08);
      }
    }
    .timer{
      font-size: 14px;
      margin: 10px 0;
    }
    h3{
      font-size: 24px;
      margin-bottom: 10px;
    }
    p{
      line-height: 25px;
      font-size: 14px;
    }
    .detail{
      display: block;
      margin: 10px 0;
      font-weight: 600;
      color: #000;
      font-size: 14px;
      &:hover{
        color: #ED1C24;
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .news{
    .wrap{
      margin: 0 -10px;
    }
    .list{
      padding: 0 10px;
      p{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
@media screen and (max-width: 800px){
  .news{
    .list{
      .timer{
        margin: 5px 0;
      }
      h3{
        font-size: 16px;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p{
        line-height: 20px;
      }
      .detail{
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 480px){
  .news{
    .wrap{
      margin: 0 -5px;
    }
    .list{
      padding: 0 5px;
      p{
        -webkit-line-clamp: 3;
      }
    }
  }
}

.partner{
  .wrap{
    margin: 0 -10px;
  }
  .list{
    float: left;
    width: (100% / 5);
    padding: 0 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;
    &:hover{
      img{
        transform: scale(1.1,1.1);
      }
    }
    img{
      width: 100%;
      transition: 0.6s;
    }
  }
}
@media screen and (max-width: 1000px) {
  .partner{
    .wrap{
      margin: 0 -5px;
    }
    .list{
      padding: 0 5px;
      margin-bottom: 10px;
      width: (100% / 4);
    }
  }
}
@media screen and (max-width: 680px){
  .partner{
    .list{
      width: (100% / 3);
    }
  }
}

.footer{
  background-color: #DDDDDD;
  padding: 30px 0 60px;
  ul{
    border-bottom: 2px solid #4D4D4D;
  }
  li{
    float: left;
    line-height: 25px;
    margin-bottom: 10px;
    width: 10%;
  }
  .adress{
    font-size: 12px;
    margin: 30px 0 10px;
    div{
      line-height: 20px;
      p{
        display: inline;
        margin-right: 3%;
      }
    }
  }
  .qrcode{
    position: absolute;
    right: 0;
    top: 70px;
    font-size: 12px;
    line-height: 20px;
  }
  .copyright{
    span{
      font-size: 12px;
      margin-right: 2%;
    }
  }
}

@media screen and (max-width: 900px){
  .footer{
    li{
      width: 13%;
    }
  }
}
@media screen and (max-width: 600px){
  .footer{
    padding: 10px 0 20px;
    .qrcode{
      display: none;
    }
    li{
      width: (100% / 4);
      line-height: 20px;
    }
    .adress{
      margin: 10px 0;
      div{
        p{
          display: block;
        }
      }
    }
  }
}
/*brand*/
.banners{
  img{
    width: 100%;
  }
}
.common{
  ul{
    width: 400px;
    margin: 40px auto;
  }
  li{
    float: left;
    text-align: center;
    width: (100% / 4);
    margin: 0 -1px;
  }
  li+li{
    border-left: 2px solid #666;
  }
}
@media screen and (max-width: 600px){
  .common{
    ul{
      width: 300px;
      margin: 10px auto;
    }
  }
}

.intro{
  .pageleft{
    width: 58.5%;
    img{
      width: 100%;
    }
  }
  .pageright{
    width: 40%;
    .rightimg{
      margin: 0 -10px;
      div{
        float: left;
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
      }
      img{
        width: 100%;
      }
    }
    .txt{
      line-height: 31px;
    }
  }
}
@media screen and (max-width: 1600px) {
  .intro{
    .pageright{
      .txt{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .intro{
    .pageright{
      .txt{
        line-height: 25px;
        -webkit-line-clamp: 4;
      }
    }
  }
}
@media screen and (max-width: 600px){
  .intro{
    .pageleft{
      width: 100%;
      margin-bottom: 15px;
    }
    .pageright{
      width: 100%;

    }
  }
}
.thing{
  .wrap{
    margin: 0 -10px;
  }
  .list{
    float: left;
    width: (100% / 5);
    padding: 0 10px;
    overflow: hidden;
    box-sizing: border-box;
    img{
      width: 100%;
    }
    p{
      margin: 10px 0;
      line-height: 25px;
    }
  }
}
@media screen and (max-width: 800px){
  .thing{
    .list{
      width: (100% / 2);
      margin-bottom: 15px;
      p{
        margin: 5px 0;
      }
    }
  }
}

.credential{
  margin: 0 0 60px 2px;
  .list{
    display: inline-block;
    margin: 0 -2px -5px -3px;
    width: (100% / 5);
    overflow: hidden;
    img{
      width: 100%;
      vertical-align: top;
    }
  }
}
@media screen and (max-width: 600px){
  .credential{
    margin: 0 0 20px 2px;
    .list{
      width: (100% / 2);
      border-bottom: 1px solid #ccc;
    }
  }
}
.credential{
}

/*introdetail*/
.introdetail{
  .intro{
    .pageright{
      .rightimg{
        div{
          width: 100%;
        }
      }
      .txt{
        margin-bottom: 8%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .introdetail{
    margin-bottom: 20px;
    .intro{
      .pageright{
        .txt{
          margin-bottom: 10px;
        }
      }
    }
  }
}

/*new*/
.new{
  .news{
    .list{
      margin-bottom: 40px;
    }
  }
}
.paging{
  text-align: center;
}
@media screen and (max-width: 600px) {
  .new{
    .news{
      .list{
        margin-bottom: 10px;
      }
    }
  }
  .paging{
    margin-bottom: 10px;
  }
}

/*newdetail*/
.newdetail{
  .common{
    li{
      width: 25%;
      &:nth-last-of-type(1){
        width: 50%;
      }
    }
  }
  .newdetail-title{
    margin: 20px 0;
    h2{
      font-size: 36px;
      font-weight: bold;
    }
    h6{
      font-size: 14px;
      margin: 10px 0;
    }
  }
  .pageleft{
    width: 35%;
    .left-img{
      img{
        width: 100%;
      }
    }
  }
  .pageright{
    width: 63%;
    p{
      line-height: 25px;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
  .related{
    margin: 40px -20px;
    h3{
      font-size: 24px;
      font-weight: bold;
      padding: 0 20px;
      margin: 20px 0;
    }
    .list{
      float: left;
      width: (100% / 3);
      padding: 0 20px;
      box-sizing: border-box;
    }
    .list-border{
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    .tit{
      margin: 10px 0;
      position: relative;
      img{
        position: absolute;
        right: 0;
        top: -10px;
        padding: 20px 0;
      }
    }
    .title{
      margin: 10px 0;
      h4{
        font-size: 24px;
      }
      .time{
        font-size: 14px;
      }
    }
    p{
      margin: 10px 0;
      font-size: 14px;
      line-height: 25px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 1500px){
  .newdetail{
    .pageright{
      p{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .newdetail{
    .pageright{
      p{
        -webkit-line-clamp: 1;
      }
    }
  }
}
@media screen and (max-width: 600px){
  .newdetail{
    .common{
      ul{
        width: 350px;
      }
      li{
        width: 20%;
        &:nth-last-of-type(1){
          width: 60%;
        }
      }
    }
    .newdetail-title{
      margin: 15px 0 10px;
      h2{
        font-size: 16px;
      }
    }
    .pageleft{
      width: 100%;
      margin-bottom: 20px;
    }
    .pageright{
      width: 100%;
      p{
        -webkit-line-clamp:3
      }
    }
    .related{
      margin: 10px -10px;
      h3{
        font-size: 16px;
        margin: 5px 0;
        padding: 0 10px;
      }
      .list{
        padding: 0 10px;
      }
      .tit{
        img{
          top: -15px;
        }
      }
      .title{
        margin: 5px 0;
        h4{
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      p{
        font-size: 12px;
        line-height: 20px;
        margin: 5px 0;
      }
    }
  }
}

/*product*/
.product{
  .bike{
    .common-title{
      a{
        display: block;
        width: 150px;
        padding: 5px 0;
        margin: 5px auto;
        border-top: 2px solid #D61C24;
        text-align: center;
        font-size: 18px;
      }
    }
  }
}
.banners{
  position: relative;
  .txt{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    text-align: center;
    color: #fff;
    p{
      font-size: 36px;
    }
    .referral{
      font-size: 14px;
      span{
        margin: 0 10px;
      }
    }
  }
}
.carousel{
  img{
    width: 100%;
  }
}
.bike{
  .wrap{
    margin: 0 -10px;
  }
  .list{
    float: left;
    width: (100% / 4);
    padding: 0 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #fff;
    &:hover{
      border: 1px solid #ccc;
    }
    .listimg{
      width: 80%;
      margin: 10% auto;
      img{
        width: 100%;
      }
    }
    .name{
      font-size: 48px;
    }
    p{
      font-size: 12px;
      margin: 0 0 5px;
      span{
        margin: 0 5px;
      }
    }
    a{
      font-size: 24px;
      display: block;
      width: 90px;
      line-height: 40px;
      margin: 10% auto;
      border: 1px solid #666;
      &:hover{
        background-color: #D61C24;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
}
@media screen and (max-width: 1300px){
  .banners{
    .txt{
      p{
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .bike{
    .list{
      .name{
        font-size: 20px;
      }
    }
  }
}
@media screen and (max-width: 800px){
  .bike{
    .list{
      width: (100% / 2);
      a{
        width: 60px;
        line-height: 30px;
        margin: 5% auto;
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 600px){
  .product{
    .bike{
      .common-title{
        a{
          width: 90px;
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  .bike{
    .wrap{
      margin: 0 -5px;
    }
    .list{
      padding: 0 5px;
      margin-bottom: 10px;
    }
  }
}


/*newproduct*/
.newproduct{
  .list{
    margin-bottom: 30px;
    position: relative;
    &:hover{
      img{
        transform: scale(1.1,1.1);
      }
    }
    .listimg{
      overflow: hidden;
      img{
        width: 100%;
        transition: all 0.6s;
      }
    }
    .txt{
      position: absolute;
      left: 0;
      top: 15%;
      right: 0;
      text-align: center;
      color: #fff;
      p{
        font-size: 36px;
        font-weight: bold;
        line-height: 50px;
      }
      span{
        font-size: 18px;
        line-height: 40px;
      }
      a{
        display: block;
        color: #fff;
        width: 80px;
        margin: 30px auto;
        line-height: 30px;
        border: 1px solid #fff;
        &:hover{
          background-color: #ED1C24;
          border: none;
        }
      }
    }
    .merit{
      text-align: center;
      font-size: 18px;
      line-height: 50px;
    }
  }
  .list.s{
    .txt{
      p{
        color: #000;
      }
      span{
        color: #000;
      }
      a{
        color: #000;
        border: 1px solid #000;
        &:hover{
          color: #fff;
          border: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1500px){
  .newproduct{
    .list{
      .txt{
        top: 5%;
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .newproduct{
    .list{
      .txt{
        p{
          font-size: 24px;
          line-height: normal;
        }
        a{
          margin: 10px auto;
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  .newproduct{
    margin-bottom: 0;
    .list{
      .txt{
        p{
          font-size: 16px;
        }
        span{
          font-size: 14px;
          line-height: 25px;
        }
        a{
          width: 70px;
          line-height: 25px;
        }
      }
      .merit{
        font-size: 14px;
        line-height: normal;
        width: 90%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

/*bicycle*/
.bicycle{
  .classify{
    margin: 20px 0;
    span{
      display: inline-block;
      margin: 0 2% 5px 0;
      padding: 0 3px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #F7F8F8;
    }
  }
}
.on{
  color: #fff;
  background-color: #727171!important;
}
@media screen and (max-width: 600px){
  .bicycle{
    .classify{
      margin: 10px 0;
    }
  }
}

/*contact*/
.contact{
  .banners{
    position: relative;
    .txt{
      position: absolute;
      left: 20%;
      top: 20%;
      width: 40%;
      text-align: left;
      color: #666;
      span{
        display: block;
        margin: 10px 0;
        font-size: 48px;
      }
      p{
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
  .pageleft{
    width: 35%;
    .phone{
      background: url("../images/num1.jpg") no-repeat left;
      height: 60px;
      position: relative;
      .txt{
        float: left;
        margin-left: 70px;
        p{
          font-size: 20px;
          margin-top: 5px;
        }
        span{
          font-size: 14px;
          word-spacing: 8px;
          letter-spacing: 7px;
        }
      }
      .number{
        position: absolute;
        right: 0;
        top: -10px;
        font-size: 50px;
        font-weight: bold;
        color: #ED1C24;
      }
    }
    .adress{
      margin: 40px 0 0;
      .name{
        font-size: 48px;
      }
      .txt{
        margin: 20px 0 0;
      }
      p{
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  .pageright{
    width: 63%;
    .baidumap{
      #dituContent{
        width: 100%;
        height: 400px;
        border: 1px solid #ccc;
      }
    }
  }
}
@media screen and (max-width: 1600px){
  .contact{
    .pageleft{
      .phone{
        .number{
          font-size: 40px;
          top: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 1500px){
  .contact{
    .pageleft{
      .phone{
        .number{
          font-size: 30px;
        }
      }
      .adress{
        .name{
          font-size: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .contact{
    .banners{
      .txt{
        span{
          font-size: 20px;
        }
      }
    }
    .pageleft{
      .phone{
        .number{
          position: absolute;
          top: 60px;
          left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .contact{
    .banners{
      .txt{
        top: 5%;
        left: 5%;
        span{
          font-size: 16px;
          margin: 5px 0;
        }
        p{
          line-height: 20px;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}
@media screen and (max-width: 800px){
  .contact{
    .pageleft{
      .adress{
        margin-top: 60px;
        .name{
          font-size: 24px;
        }
        .txt{
          margin-top: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  .contact{
    .banners{
      img{
        height: 100px;
      }
      .txt{
        width: 60%;
        span{
          margin: 2px 0;
        }
        p{
          -webkit-line-clamp: 3;
        }
      }
    }
    .pageleft{
      width: 100%;
    }
    .pageright{
      width: 100%;
      .baidumap{
        #dituContent{
          height: 200px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  .contact{
    .pageleft{
      .adress{
        margin-top: 50px;
        .name{
          font-size: 18px;
        }
        .txt{
          margin-top: 5px;
        }
        p{
          font-size: 16px;
        }
      }
    }
  }
}

/*qfbike*/
.qfbike{
  .banners{
    h4{
      position: absolute;
      left: 25%;
      top: 35%;
      font-size: 40px;
      color: #fff;
    }
  }
  .auto-carousel{
    margin: 30px 0;
  }
  .carousel{
    background-color: #fff;
    position: relative;
    .item{
      .item-img{
        margin-left: 10%;
        img{
          width: 550px;
        }
        p{
          color: #666;
          margin: 5px 0;
          span{
            display: inline-block;
            padding-left: 35px;
            height: 40px;
            line-height: 40px;
            margin-right: 30px;
            &:nth-child(1){
              background: url("../images/qfbike-ico1.png") no-repeat left center;
            }
            &:nth-child(2){
              background: url("../images/qfbike-ico2.png") no-repeat left center;
            }
            &:nth-child(3){
              background: url("../images/qfbike-ico3.png") no-repeat left center;
            }
            &:nth-child(4){
              background: url("../images/qfbike-ico4.png") no-repeat left center;
            }
            &:nth-child(5){
              background: url("../images/qfbike-ico5.png") no-repeat left center;
            }
          }
        }
      }
      .item-txt{
        position: absolute;
        right: 10%;
        top: 20%;
        h4{
          font-size: 36px;
        }
        .referral{
          font-size: 24px;
        }
        .size{
          margin: 20px 0;
        }
        .listimg{
          z-index: 999;
          position: relative;
          img{
            width: 150px;
          }
        }
      }
    }
    .carousel-control{
      width: 50px;
      top: 100px;
      color: #000;
      font-size: 60px;
      background-image: none;
      .left,.right{
        background-repeat: no-repeat;
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .qfbike{
    .carousel{
      .item{
        .item-img{
          margin-left: 5%;
        }
        .item-txt{
          right: 5%;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .qfbike{
    .carousel{
      .item{
        padding-bottom: 40px;
        .item-img{
          margin-left: 2%;
          img{
            width: 400px;
          }
          p{
            display: none;
          }
        }
        .item-txt{
          right: 2%;
          h4{
            font-size: 24px;
          }
          .referral{
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px){
  .qfbike{
    .banners{
      h4{
        display: none;
      }
    }
    .carousel{
      .item{
        .item-img{
          width: 100%;
          img{
            display: block;
            margin: 0 auto;
          }
        }
        .item-txt{
          position: relative;
          margin-left: 10%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  .qfbike{
    .carousel{
      .item{
        .item-img{
          img{
            width: 300px;
          }
        }
        .item-txt{
          margin-left: 10%;
          .listimg{
            img{
              width: 100px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  .qfbike{
    .carousel{
      .item{
        .item-img{
          img{
            width: 280px;
          }
        }
        .item-txt{
          .listimg{
            img{
              width: 80px;
            }
          }
        }
      }
    }
  }
}









